<mat-sidenav-container class="sidenav-container">

    <!-- SIDENAV -->
  
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
       
        <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
        <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
        <a mat-list-item routerLink="/customers" (click)="drawer.close()">Customers</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
  
    <!-- TOP TOOLBAR -->
  
      <mat-toolbar>
        <button 
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">  
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span class="logo" routerLink="/">😂 TRELOL 😂</span>
  
        <div *ngIf="!(isHandset$ | async)">
          <a mat-button routerLink="/customers">Customers</a>
          <a mat-button *ngIf="!(afAuth.authState | async)" routerLink="/login">Login</a>
          <a mat-button *ngIf="afAuth.authState | async as user">
            <img 
              class="user" 
              [src]="user.photoURL"
              [matMenuTriggerFor]="userMenu"
            />
            <mat-menu #userMenu="matMenu">
              <span mat-menu-item>Signed in as <b>{{user.email}}</b></span>
              <button mat-menu-item (click)="afAuth.signOut()">Log out</button>
            </mat-menu>
          </a>
        </div>
  
      </mat-toolbar>
  
      <ng-content></ng-content>
  
    </mat-sidenav-content>
  </mat-sidenav-container>